.header {
  margin-top: 60px;
  margin-left: 180px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
  font-family: "lora", serif;
}

.headerTitlesSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}

.headerTitlesLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
  font-family: "lora", sans-serif;
}
.headerImg {
  object-fit: cover;
  margin-left: 200px;
  border-radius: 50%;
}
